:root {
    /* CSS Variables */
    --background: #121212;
    --background-secondary: #1d1d1d;
    --highlight: #1db954;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
}