#tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    cursor: pointer;
}

#tabs-container > button {
    background: var(--background-secondary);
    padding: 1rem 0.75rem;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: var(--text);
}

#pending-tab:hover {
    background: #3e3ebc;
}

#rejected-tab:hover {
    background: #b84040;
}

#accepted-tab:hover {
    background: #53d153;
}

#pending-tab.active {
    background: #3e3ebc;
}

#rejected-tab.active {
    background: #b84040;
}

#accepted-tab.active {
    background: #53d153;
}